<a href="https://colab.research.google.com/github/Su-236/cse326_project/blob/master/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
n=int(input())
for i in range(1,n+1):
  for k in range(0,n-i):
    print(" ",end=' ')
  for j in range(1,i+1):
    print(" * ",end=' ')
  print()

6
           *
         *   *
       *   *   *
     *   *   *   *
   *   *   *   *   *
 *   *   *   *   *   *

In [14]:
def abc(x,y):
  s=0
  for i in range(x,y+1):
    s=s+i
  print(s)
abc (10,20)

165

In [18]:
def g(x,y):
  if x<y:
    print(y)
  else:
    print(x)
a=int(input())
b=int(input())    
g(a,b)

4
5
5

In [19]:
def display(first,second):
  print("name",first,"age",second)
display('1st','2nd')

name 1st age 2nd

In [ ]:
def display(first,second):
  print("name",first,"age",second)
display('1st','2nd')

In [20]:
def display(name,age):
  print("name",name,"age",age)
display('saurav','20')

name saurav age 20